@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

/* base styles */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Caveat', cursive;
}

body {
  margin: 0 auto;
  max-width: 700px;
  color: #333;
  background-color: #F1F5F8;
}

/* NAVIGATION */
.navbar, .navbar__links {
  display: flex;
}

.navbar {
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(223, 223, 223);
}

h1 {
  color: rgb(16, 198, 214);
  margin-top: 10px;
}

.navbar__links a {
  margin: 15px;
  font-size: 25px;
  text-decoration: none;
  color: #333;
}

.navbar__links a {
  transition: 0.3s;
}

.navbar__links a:hover {
  padding: 3px 8px;
  border-radius: 8px;
  color: rgb(243, 243, 243);
  background-color: rgb(16, 198, 214);
}

/* HEADER */
.header__bg {
  position: relative;
  margin-top: 20px;
  height: 250px;
  background-size: cover;
  background-position: 50% 30%;
  background-image: url('../src/assets/img/dogs-bg.jpg');
}

.hero__bg {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.header__text {
  position: absolute;
  top: 60%;
  right: 0;
  padding: 15px;
  color: rgb(243, 243, 243);
  text-shadow: 3px 3px 5px black;
}

.header__text p {
  font-size: 19px;
}

/* BLOGS LIST */
.blogs__list {
  margin: 15px 0;
}

/* FOOTER */
footer {
  text-align: center;
  border-top: 2px solid rgb(223, 223, 223);
}

footer p {
  padding: 10px;
  font-size: 20px;
}

/* BLOG PREVIEW - LISTS */
.blog__preview {
  display: flex;
  margin: 20px 0;
  box-shadow: 0 0 5px grey;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s;
}

.blog__preview:hover {
  box-shadow: 0 0 10px grey;
  transform: scale(1.05);
}

.blog__preview img {
  max-width: 250px;
  max-height: 250px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.blog__preview__text {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(253, 253, 253);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.blog__preview__text h2 {
  color: rgb(16, 198, 214);
}

.blog__preview__text__body {
  font-size: 20px;
  margin-bottom: 10px;
}

.blog__author {
  font-weight: 700;
}

/* DELETE BLOG BUTTON */
.btn__wrapper {
  margin-top: 15px;
  align-self: flex-end;
}

.btn__delete {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  color: rgb(243, 243, 243);
  background-color: rgb(16, 198, 214);
  border: none;
  cursor: pointer;
}